@font-face {
 font-family: "Inter";
 font-style: normal;
 font-weight: 400;
 src: url("../fonts/inter-400.woff2") format("woff2");
 font-display: swap;
}

@font-face {
 font-family: "Inter";
 font-style: normal;
 font-weight: 700;
 src: url("../fonts/inter-700.woff2") format("woff2");
 font-display: swap;
}

@font-face {
 font-family: "Inter";
 font-style: normal;
 font-weight: 900;
 src: url("../fonts/inter-900.woff2") format("woff2");
 font-display: swap;
}

html {
 height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
 margin: 0;
 display: flex;
 flex-direction: column;
 min-height: 100%;
 font-family: "Inter", sans-serif;
 font-size: 16px;
 line-height: 22px;
 background-color: #feafc3;
 color: #2d3440;
}

.page-container {
  flex-grow: 1;
  width: 1170px;
  margin: 0 auto;
}

.button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
}

.button-primary {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color:#FCFCFC;
  text-align: center;
  padding: 12px 32px;
  outline: 4px solid rgba(255,47,100,0.30);
  border-radius: 26px;
  background-color: #FF2F64;
  transition: color 0.3s ease, background-color 0.3s ease, outline 0.3s ease;
}

.button-primary:hover {
  color: #2D3440;
  background-color: #fcfcfc;
  outline: 4px solid#FF2F64;
}

.button-primary:focus {
  color: #FCFCFC;
  background-color: #FF2F64;
  outline: 2px solid#2d3440;

}

.button-primary:active {
  color: #FCFCFC;
  background-color: #FEAFC3;
  outline: 2px solid#2d3440;
}

.button-primary:disabled {
  cursor: default;
  color: #565C66;
  background-color: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.30);
}

.button.is-loading {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button-primary.is-loading::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border: 2px solid rgba(252, 252, 252, 0.25);
  border-bottom-color: white;
  border-radius: 50%;
  animation-name: loader;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button-secondary {
  display: inline-flex;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgba(45, 52, 64, 1);
  text-align: center;
  padding: 12px 32px;
  outline: 4px solid rgba(252, 252, 252, 0.40);
  border-radius: 26px;
  background-color: #fcfcfc;
  transition: background-color 0.3s ease, outline 0.3s ease, color 0.3s ease;
}

.button-secondary:hover {
  background-color: rgba(252, 252, 252, 0.40);
  outline: 4px solid #fcfcfc;
}

.button-secondary:focus {
  background-color: rgba(252, 252, 252, 0.50);
  outline: 2px solid #2D3440;
}

.button-secondary:active {
  color: #2D3440;
  background-color: #FCFCFC;
  outline: 2px solid #2D3440;
}

.button-secondary:disabled {
  color: #B9B9B9;
  background-color: #E7E7E7;
  outline: 4px solid rgba(252, 252, 252, 0.40);
}

.button-secondary.is-loading::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border: 2px solid rgba(36, 36, 36, 0.24);
  border-bottom-color: #242424;
  border-radius: 50%;
  animation-name: loader;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.form-input {
  padding: 16px 14px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  box-shadow: 0 0 0 1px #B9B9B9;
  border-radius: 4px;
  background-color: #ffffff;
}

.form-input::placeholder {
  color: #B9B9B9;
  opacity: 1;
}

/*шапка*/

.page-header {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  padding: 24px 0;

}

/*навигация*/

.navigation {
  display: flex;
  align-items: center;
}

.navigation-logo {
  display: flex;
  margin-right: 16px;
  transition: opacity 0.3s ease;
}

.navigation-logo:hover {
  opacity: 0.6;
}

.navigation-logo:focus-visible {
  opacity: 0.6;
}

.navigation-logo:active {
  opacity: 0.3;
}

.navigation-list {
 margin: 0;
 padding: 0;
 list-style-type: none;
 display: flex;
 flex-wrap: wrap;
 min-width: 460px;

}

.navigation-link {
 display: flex;
 padding: 8px 16px;
 border-radius: 30px;
 line-height: 20px;
 text-decoration: none;
 color: #2d3440;
 transition: background-color 0.3s ease;
}

.navigation-link:hover,
.catalog-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-link:active,
.catalog-button:active {
  background-color: #fcfcfc;
}

.navigation-link:focus-visible,
.catalog-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px #2D3440;
  outline: none;
}

/*пользовательское меню*/

.user-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  min-width: 431px;
}

.user-phone-link {
 padding: 6px 0 6px 0;
 font-family: 'Inter';
 font-style: normal;
 font-weight: 700;
 font-size: 16px;
 line-height: 20px;
 color: #2d3440;
 text-decoration: none;
 transition: opacity 0.3s ease;
}

.user-phone-link:hover {
  opacity: 0.6;
}

.user-phone-link:focus-visible {
  opacity: 0.6;
}

.user-phone-link:active {
  opacity: 0.3;
}

/*состояния кнопок в шапке*/

.user-button-search:hover,
.user-button-login:hover,
.user-button-cart:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.user-button-search:focus-visible,
.user-button-login:focus-visible,
.user-button-cart:focus-visible {
  outline: none;
  background-color: #fcfcfc;
}

.user-button-search:active,
.user-button-login:active,
.user-button-cart:active {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px #2d3440;
}

/*каталог*/

.catalog-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 38px 8px 16px;
  position: relative;
  border-radius: 30px;
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

.catalog-button::after {
  content: "";
  width: 11px;
  height: 6px;
  margin-left: 8px;
  position: absolute;
  mask: url("../images/svg/icon-arrow.svg");
  -webkit-mask: url("../images/svg/icon-arrow.svg");
  mask-size: contain;
  -webkit-mask-size: contain;
  background-color: #2d3440;
  top: 16px;
  right: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.catalog:focus-within .catalog-container {
  display: block;
}

.catalog:focus-within .catalog-button:not(:focus-visible) {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.catalog:focus-within .catalog-button:not(:focus-visible):hover {
  opacity: 0.6;
}

.catalog:focus-within .catalog-button:not(:focus-visible)::after {
  background-color: #fcfcfc;
}

.catalog:focus-within .catalog-button::after {
  transform: rotate(180deg);
}

.catalog-container {
  min-width: 135px;
  padding: 8px 0 8px 0;
  display: flex;
  flex-direction: column;
  left: 0;
}

.catalog-list {
  margin: 0;
  margin-top: 4px;
  list-style-type: none;
  padding: 0;

}

.catalog-title {
  display: flex;
  margin: 0 16px;
  padding: 8px 0 12px 0;
  border-bottom: 1px solid #B9B9B9;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.catalog-link {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  padding: 6px 14px;
  transition: background-color 0.3s ease;
}

.catalog-link:hover {
  background-color: #FFCBD8;
}

.catalog-link:active {
  background-color: #f7799f;
}

.catalog-link.current {
  background-color: #FF4A78;
}


/*поповер*/

.catalog,
.user-item-search,
.user-item-login,
.user-item-cart {
  position: relative;
}

.popover-container {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(calc(100% + 8px));
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  z-index: 2;
}

.popover-title {
 font-weight: 700;
 font-size: 24px;
 line-height: 30px;
 margin: 0;
 margin-bottom: 32px;
 grid-area: title;
}

/*поиск*/

.search-container {
  min-width: 356px;
  padding: 24px 16px;
}

.user-button-search {
  min-width: 32px;
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 27px;
  padding: 8px;
  background-color: rgba(252, 252, 252, 0.3);
  position: relative;
  transition: background-color 0.3s ease;
}

.user-button-search::after {
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  mask: url("../images/svg/icon-search.svg");
  -webkit-mask: url("../images/svg/icon-search.svg");
  mask-size: contain;
  -webkit-mask-size: contain;
  background-color: #2d3440;
  transition: background-color 0.3s ease;
}

.user-item-search:focus-within .search-container {
  display: block;
}

.user-item-search:focus-within .user-button-search:not(:focus-visible) {
  background-color: #ff4a78;
}

.user-item-search:focus-within .user-button-search:not(:focus-visible)::after {
  background-color: #fcfcfc;
}

.search-input {
  width: 324px;
  padding: 16px 14px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  background-color: #ffffff;
}

.search-input::placeholder {
  color: #B9B9B9;
  opacity: 1;
}

.search-input::-webkit-search-decoration,
.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-results-button,
.search-input::-webkit-search-results-decoration {
  display: none;
}

.search-form-wrapper {
  position: relative;
}

.search-form-reset {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 13px;
  width: 16px;
  height: 16px;
  background-image: url("../images/svg/icon-cross.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.search-form-reset:hover {
  opacity: 0.6;
}

/*личный кабинет*/

.login-container {
  padding: 48px;
  padding-top: 52px;
  min-width: 420px;
}

.login-link {
 font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 20px;
 color: #2d3440;
 text-decoration: solid #2d3440;
}

.user-button-login {
  width: 88px;
  padding: 6px 16px 6px 38px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
  grid-area: button;
}

.user-button-login::before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 6px;
  position: absolute;
  top: 9px;
  left: 17px;
  mask: url("../images/svg/icon-login.svg");
  -webkit-mask: url("../images/svg/icon-login.svg") ;
  mask-size: contain;
  -webkit-mask-size: contain;
  background-color: #2d3440;
  transition: background-color 0.3s ease;
}

.user-item-login:focus-within .login-container {
  display: block;
}

.user-item-login:focus-within .user-button-login:not(:focus-visible) {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.user-item-login:focus-within .user-button-login:not(:focus-visible)::before {
  background-color: #fcfcfc;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
}

.login-input {
  width: 324px;
  padding: 16px 14px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  background-color: #ffffff;
}

.login-link-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 23px;
}

.login-mail {
  margin-bottom: 16px;
}

.login-password {
  margin-bottom: 32px;
}

/*корзина*/

.cart-container {
  min-width: 441px;
  padding: 48px;
}

.cart-list {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cart-link {
  text-decoration: none;
}

.cart-title {
  color: #2D3440;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
}

.product-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cart-property {
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
}

.cart-price {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #2D3440;
  margin-left: auto;
}

.cart-button {
  margin-left: auto;
}

.cart-ordering-wrapper {
  display: flex;
  gap: 30px;
  align-items: baseline;
  padding-top: 32px;
  border-top: 1px solid#E7E7E7;
}

.user-button-cart {
  width: 115px;
  padding: 6px 16px 6px 38px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.user-button-cart::before {
  content: "";
  width: 14px;
  height: 14px;
  margin-right: 6px;
  position: absolute;
  top: 9px;
  left: 17px;
  mask: url("../images/svg/icon-cart.svg");
  -webkit-mask: url("../images/svg/icon-cart.svg");
  mask-size: contain;
  -webkit-mask-size: contain;
  background-color: #2d3440;
  transition: background-color 0.3s ease;
}

.user-item-cart:focus-within .cart-container {
  display: block;
}

.user-item-cart:focus-within .user-button-cart:not(:focus-visible) {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.user-item-cart:focus-within .user-button-cart:not(:focus-visible)::before {
  background-color: #fcfcfc;
}

 /*корзина пуста*/

.cart-container-empty {
  width: 288px;
  padding: 40px 20px;
  text-align: center;

}

.user-item-cart-empty:focus-within .cart-container-empty {
  display: block;
}

.user-item-cart-empty:focus-within .user-button-cart:not(:focus-visible) {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.user-item-cart-empty:focus-within .user-button-cart:not(:focus-visible)::before {
  background-color: #fcfcfc;
}

/* слайдер */

.section-main {
  margin-bottom: 80px;
}

.slider {
  position: relative;
}

.slider-controls-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 250px;
  left: 513px;
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.button-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid #fcfcfc;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.30);
  position: relative;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.button-control-right::after,
.button-control-left::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  mask: url("../images/svg/arrow-right.svg");
  -webkit-mask: url("../images/svg/arrow-right.svg");
  background-color: #FCFCFC;
  transition: background-color 0.3s ease;
}


.button-control-left::after {
  transform: rotate(180deg);
}

.button-control:hover {
  background-color: #fcfcfc;
}

.button-control:hover::after {
  background-color: #2d3440;
}

.button-control:focus-visible {
  background-color: rgba(252, 252, 252, 0.30);
  border-color: #2d3440;
  outline: none;
}

.button-control:focus-visible::after {
  background-color: #2d3440;
}

.button-control:active {
  background-color: rgba(252, 252, 252, 0.50);
  border-color: rgba(252, 252, 252, 0.50);
}

.button-control:active::after {
  background-color: #2d3440;
}

.button-control:disabled {
  background-color: rgba(252, 252, 252, 0.30);
  opacity: 0.4;
  pointer-events: none;
}


.slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 40px;
  overflow: hidden;
}

.slider-item {
  width: 100px;
  display: grid;
  opacity: 0.4;
  flex-shrink: 0;
}


.is-active.slider-item {
  grid-template-columns: 525px 327px;
  width: 852px;
  order: -1;
  opacity: 1;

}

.slider-content {
  padding: 136px 23px 126px 70px;
  display: none;
}

.is-active .slider-content {
  display: block;
}

.slider-title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
}

.slider-text {
  margin: 0;
  margin-bottom: 48px;
}

.slider-image {
  position: relative;
  align-self: center;
  display: flex;
}

.is-active .slider-image {
  align-self: flex-start;
}

.slider-image img {
  max-width: 100%;
  height: auto;
}

.slider-image::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  z-index: -1;
}

.is-active .slider-image::before {
  width: 312px;
  height: 312px;
}

.slider-footer {
  display: flex;
  justify-content: space-between;
}

.slider-socials-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 16px;
  min-width: 104px;
}

.socials-link {
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: relative;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.30);
  transition: box-shadov 0.3s ease, opacity 0.3s ease;
}

.socials-link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #2d3440;
}

.socials-link:active {
  opacity: 0.4;
}

.socials-link::after {
  position: absolute;
  border-radius: 50%;
  content: "";
  width: 22px;
  height: 22px;
  background-color: #2d3440;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.socials-link:hover::after {
  opacity: 1;
}

.socials-link:focus-visible::after {
  opacity: 1;
}

.socials-link:active::after {
  opacity: 0.4;
}


.socials-link::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background-position: center;
  border-radius: 50%;
}

.socials-link-tg::before {
  background-image: url("../images/social/icon-tg.svg");
}

.socials-link-vk::before {
  background-image: url("../images/social/icon-vk.svg");
}

.socials-link-yt::before {
  background-image: url("../images/social/icon-yt.svg ");
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 52px;
  display: flex;
  gap: 8px;
}

.button-pagination {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: inset 0 0 0 1px transparent;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.button-pagination:hover {
  box-shadow: inset 0 0 0 1px #fcfcfc;
}

.button-pagination:focus-visible {
  box-shadow: inset 0 0 0 1px #2D3440;
  outline: none;
}

.button-pagination:active {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 1px rgba(252, 252, 252, 0.5);
}


.button-pagination-current {
  background-color: rgba(252, 252, 252, 1);
  box-shadow: inset 0 0 0 1px rgba(252, 252, 252, 1);
}

/*banners*/

.banners {
  margin-bottom: 80px;
}

.section-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
  margin: 0;
  margin-bottom: 55px;
}

.banners-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.banners-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  border-radius: 16px;
  background-color: #F79;
  padding: 36px 220px 36px 36px;
  position: relative;
}

.banners-title {
  margin: 0;
}

.banners-description {
  margin: 0;
}

.banners-link {
  margin-top: auto;

}

.banners-image-self {
  position: absolute;
  bottom: 0;
  right: 0;

}

/*goods*/

.goods {
  margin-bottom: 80px;
}

.goods-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 40px;
}

.goods-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  padding: 0 40px 28px 40px;
}

.goods-item::before {
  content: "";
  width: 100%;
  height: calc(100% - 51px);
  background-color: #fcfcfc;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 8px;
}

.goods-img {
  margin-bottom: 16px;
}

.goods-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

.goods-description {
  margin: 0;
  margin-bottom: 16px;
  color: #565C66;
  text-align: center;
}

.cards-price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
  gap: 20px;
}

.cards-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.button-cards {
  min-width: 32px;
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  background-color: #FF2F64;
  box-shadow: inset 0 0 0 2px transparent;
  position: relative;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button-cards::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  mask: url("../images/svg/button-cart.svg");
  -webkit-mask: url("../images/svg/button-cart.svg");
  mask-size: contain;
  -webkit-mask-size: contain;
  background-color: #fcfcfc;
  transition: background-color 0.3s ease;
}

.button-cards:hover {
  background-color: rgba(252, 252, 252, 0.30);
  box-shadow: inset 0 0 0 2px #ff2f64;
}

.button-cards:hover::after,
.button-cards:active::after {
  background-color: #2d3440;
}

.button-cards:focus-visible {
  background-color: #ff2f64;
  box-shadow: inset 0 0 0 2px #2d3440;
  outline: none;
}

.button-cards:active {
  box-shadow: inset 0 0 0 2px #ff2f64;
  background-color: #FFCBD8;
}

.button-cards:disabled {
  background-color: #B9B9B9;
  pointer-events: none;
}

.button-cards:disabled::after {
  background-color: #565C66;
}

/*about*/

.about {
  background-image: url("../images/background/about.png");
  padding: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.about-wrapper {
  padding: 56px 40px;
  border-radius: 16px;
  background-color: #ffffff;
}

.about-list {
  min-width: 1042px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 40px;
}

.about-item {
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 16px;
}

.about-description {
  display: block;
  margin: 0;
  color: #565C66;
  font-weight: 400;
}

.about-item::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
}

.about-ice-cream::before {
  background-image: url("../images/svg/about-icon-ice-cream.svg");
}

.about-cow::before {
  background-image: url("../images/svg/about-icon-cow.svg");
}

.about-tree-leaf::before {
  background-image: url("../images/svg/about-icon-tree-leaf.svg");
}

.about-thermometer::before {
  background-image: url("../images/svg/about-icon-thermometer.svg");
}

/*subscription-news*/

.subscription-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.news {
  padding: 32px 235px 67px 32px;
  border-radius: 16px;
  background-image: url(../images/background/news.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.news-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #565C66;
  margin: 0 0 12px 0;
}

.news-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #2d3440;
  margin: 0;
}

.subscription {
  background-image: url(../images/background/subsc.png);
  background-color: lightgray;
  background-size: contain;
  border-radius: 16px;
  padding: 6px;
}

.subscription-wrapper {
  background-color: #ffffff;
  padding: 26px;
  border-radius: 16px;
}

.subscription-description {
   color: #565C66;
   font-size: 16px;
   font-weight: 400;
   line-height: 22px;
   margin: 0 0 42px 0;
}

.subscription-form {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.subscription-input {
  width: 332px;
}

.form-input {
  padding: 16px 14px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  box-shadow: 0 0 0 1px #B9B9B9;
  border-radius: 4px;
  background-color: #ffffff;
}

.form-input::placeholder {
  color: #B9B9B9;
  opacity: 1;
}

/*доставка*/

.delivery {
   background-image: url("../images/background/delivery.png");
   background-color: lightgray;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding: 64px 64px 64px 100px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 135px;
}
.delivery-content-container {
  padding-top: 103px;
  padding-bottom: 99px;
}

.delivery-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #565C66;
  margin: 0;
}

.delivery-title {
  margin: 0 0 24px 0;
  padding: 0;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  color: #2d3440;
}

.delivery-form-container {
  width: 500px;
  background-color: #fcfcfc;
  border-radius: 8px;
  padding: 40px 40px 42px 40px;
}

.delivery-form-description {
  margin: 0 0 32px 0;
  color: #565C66;
  font-size: 16px;
  line-height: 22px;
}

.delivery-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 16px;
}

.delivery-input-name {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 700;
  line-height: 20px;
}

/*adress*/

.address {
  width: 100%;
  padding: 64px 763px 64px 64px;
  border-radius: 16px;
  background-color: lightgray;
  background-image: url(../images/background/adress.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.address-container {
  background-color: #fcfcfc;
  padding: 40px;
  border-radius: 8px;
}

.address-container-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #565C66;
  margin: 0 0 12px 0;
  padding: 0;
}

.address-container-description {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #2d3440;
  margin: 0 0 24px 0;
  padding: 0;
}

.address-container-phone {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #2d3440;
  margin: 0;
  padding: 0;
}

.time {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #565C66;
  margin-bottom: 32px;
}

/* футер */

.page-footer {
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  justify-content: space-between;
  align-self: start;

}

.menu-list {
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px 24px;
}

.menu-item {

}
