@font-face {
 font-family: "Inter";
 font-style: normal;
 font-weight: 400;
 src: url("../fonts/inter-400.woff2") format("woff2");
 font-display: swapp;
}

@font-face {
 font-family: "Inter";
 font-style: normal;
 font-weight: 700;
 src: url("../fonts/inter-700.woff2") format("woff2");
 font-display: swapp;
}

@font-face {
 font-family: "Inter";
 font-style: normal;
 font-weight: 900;
 src: url("../fonts/inter-900.woff2") format("woff2");
 font-display: swapp;
}

html {
 height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
 margin: 0;
 display: flex;
 flex-direction: column;
 min-height: 100%;
 font-family: "Inter" sans-serif;
 font-size: 16px;
 line-height: 22px;
 background-color: #feafc3;
 color: #2d3440;
}

.page-container {
 flex-grow: 1;
 width: 1170px;
 margin: 0 auto;
}

.page-header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

/*навигация*/

.navigation {
  display: flex;
  margin: auto 0;

}

.navigation-logo {
  position: absolute;
}

.navigation-list {
 margin: 0;
 list-style-type: none;
 display: flex;

}

.navigation-item {

}

.navigation-link {
 font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 20px;
 text-decoration: none;
 color: #2d3440;
 padding: 8px 16px;
}

.user-menu {
  display: flex;
  gap: 16px;
  margin: auto 0;
}

.user-phone-link {
 font-family: 'Inter';
 font-style: normal;
 font-weight: 700;
 font-size: 16px;
 line-height: 20px;
 color: #2d3440;
 text-decoration: none;
}

/*субкаталог*/

.submenu {
  display: block;
}

.button-text {
 font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 20px;
}

.submenu-list {
  margin: 0;
  list-style-type: none;
}

.submenu-link {
 font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 20px;
 color: #2d3440;
}

/*поповер*/

.popover-container {
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 8px 16px rgba (45, 52, 64, 0.12);
}

.popover-title {
 font-family: 'Inter';
 font-style: normal;
 font-weight: 700;
 font-size: 24px;
 line-height: 30px;
}

/*личный кабинет*/

.entrance-link {
 font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 20px;
 color: #2d3440;
 text-decoration: solid #2d3440;
}
